<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boss.xtrain.system.center.dao.mapper.OnlineUserEntityMapper" >
  <resultMap id="BaseResultMap" type="com.boss.xtrain.system.center.dao.entity.OnlineUserEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="offline_time" property="offlineTime" jdbcType="TIMESTAMP" />
    <result column="stop_time" property="stopTime" jdbcType="INTEGER" />
    <result column="online_time" property="onlineTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
</mapper>
