<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boss.xtrain.system.center.pojo.impl.RoleResourceEntityMapper" >
  <resultMap id="BaseResultMap" type="com.boss.xtrain.system.center.pojo.entity.RoleResourceEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
    <id column="resource_id" property="resourceId" jdbcType="BIGINT" />
  </resultMap>
</mapper>
