<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boss.xtrain.system.center.dao.mapper.UserRoleEntityMapper" >
  <resultMap id="BaseResultMap" type="com.boss.xtrain.system.center.dao.entity.UserRoleEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="t_r_id" property="tRId" jdbcType="BIGINT" />
  </resultMap>
</mapper>
